target/classes/trabajofinal.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <file:file-to-string-transformer name="File_to_String" doc:name="File to String"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081"  doc:name="HTTP Listener Configuration"/>
    <flow name="entrega">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/entrada" doc:name="HTTP"/>
        <http:static-resource-handler resourceBase="docroot" defaultFile="index.html" doc:name="HTTP Static Resource Handler"/>
    </flow>
    <flow name="trabajofinalFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/facturacion" doc:name="HTTP"/>
        <expression-filter expression="#[message.inboundProperties.'http.request.path'!='pedido/favicon.ico']" doc:name="Expression"/>
        <custom-transformer class="org.mule.transformer.HttpQueryToPedidoTransformer" doc:name="HttpQueryToPedido"/>
        <echo-component doc:name="Echo"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="comprobarStock" doc:name="VM-comprobarStock1"/>
    </flow>
    <flow name="ComprobarDisponibleFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="comprobarStock" doc:name="VM-comprobarStock2"/>
        <custom-transformer class="org.mule.transformer.PedidoToLineaPedido" doc:name="PedidoToPedidoSimpleList"/>
        <collection-splitter doc:name="Collection Splitter"/>
        <echo-component doc:name="Echo"/>
        <choice doc:name="Choice">
            <when expression="payload.disponible==true">
                <vm:outbound-endpoint exchange-pattern="one-way" path="pedidoDisponible" doc:name="VM-PedidoDisponible1"/>
            </when>
            <otherwise>
                <vm:outbound-endpoint exchange-pattern="one-way" path="faltaStock" doc:name="VM-rechazarFaltaStock1"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="LineaPedidoDisponibleFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="pedidoDisponible" doc:name="VM-PedidoDisponible2"/>
        <choice doc:name="Choice">
            <when expression="payload.financiacion==true">
                <vm:outbound-endpoint exchange-pattern="one-way" path="tramitarFinanciacion" doc:name="VM-TramitarFinanciacion1"/>
            </when>
            <otherwise>
                <vm:outbound-endpoint exchange-pattern="one-way" path="emitirFactura" doc:name="VM-EmitirFactura1"/>
            </otherwise>
        </choice>
        <vm:outbound-endpoint exchange-pattern="one-way" path="envioPedido" doc:name="VM-EnvioPedido1"/>
    </flow>
    <flow name="TramitarFinanciacionFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="tramitarFinanciacion" doc:name="VM-TramitarFinanciacion2"/>
        <component class="org.mule.component.RevisarDeudoresComponent" doc:name="Revisar Deudores Component"/>
        <choice doc:name="Choice">
            <when expression="payload.financiable==true">
                <component class="org.mule.component.GenerarCartaFinanciacionComponent" doc:name="Generar Carta Financiacion Component"/>
            </when>
            <otherwise>
                <component class="org.mule.component.GenerarCartaRechazoFinanciacionComponent" doc:name="Generar Carta Rechazo Financiacion Component"/>
            </otherwise>
        </choice>
        <vm:outbound-endpoint exchange-pattern="one-way" path="emitirFactura" doc:name="VM-EmitirFactura3"/>
    </flow>
    <flow name="EmitirFacturaFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="emitirFactura" doc:name="VM-EmitirFactura2"/>
    </flow>
    <flow name="RechazarPorFaltaStockFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="faltaStock" doc:name="VM-rechazarFaltaStock2"/>
    </flow>
    <flow name="EnvioPedidoFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="envioPedido" doc:name="VM-EnvioPedido"/>
        <component class="org.mule.component.RevisarVipComponent" doc:name="RevisarVipComponent"/>
        <choice doc:name="Choice">
            <when expression="payload.clienteVip==true">
                <component class="org.mule.component.GenerarPedidoUrgente" doc:name="GenerarPedidoUrgente"/>
            </when>
            <otherwise>
                <component class="org.mule.component.GenerarPedidoOrdinario" doc:name="GenerarPedidoOrdinario"/>
            </otherwise>
        </choice>
    </flow>
</mule>
